# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


OpenVoxel-Engine/.vs
OpenVoxel-Engine/x64
OpenVoxel-Engine/Debug
OpenVoxel-Engine/Release
OpenVoxel-Engine/OpenVoxel-Engine/x64
OpenVoxel-Engine/OpenVoxel-Engine/Debug
OpenVoxel-Engine/OpenVoxel-Engine/Release

OpenVoxel-Editor/.vs
OpenVoxel-Editor/x64
OpenVoxel-Editor/Debug
OpenVoxel-Editor/Release
OpenVoxel-Editor/OpenVoxel-Editor/x64
OpenVoxel-Editor/OpenVoxel-Editor/Debug
OpenVoxel-Editor/OpenVoxel-Editor/Release